CompileFlags:
  Add:
    - "-x"
    - "c-header"
    - '-std=gnu17'
    - "-I.."
    - "-I../.."
    - "-I../libft"
    - "-I../../libft"
    - "-Wall"
    - "-Wextra"
    - "-Werror"
    - "-O3"
    - "-g3"
    - "-Llibft"
    - "-lft"

Diagnostics:
  Includes:
    IgnoreHeader: 
      - "lem_in.h"